<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee6fee">  <td>24/01/15 19:05:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TCDPatch_class.Executor()[pri:0, instance:TestDelivery_package.TCDPatch_class@5b218417]">Executor</td> 
  <td>main@1293226111</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/15 19:05:03</td>   <td>-923</td> <td>&nbsp;</td><td title="&gt;&gt;TCDPatch_class.Test_setup()[pri:0, instance:TestDelivery_package.TCDPatch_class@5b218417]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1293226111</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/15 19:05:07</td>   <td>3373</td> <td>&nbsp;</td><td title="&lt;&lt;TCDPatch_class.Test_teardown()[pri:0, instance:TestDelivery_package.TCDPatch_class@5b218417]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1293226111</td>   <td></td> </tr>
</table>
